<div class="row">
    <div class="col-md-4 mx-auto">
      <h4 class="text-left mb-4">Editar cliente</h4>

      <form class="form-horizontal form-material" 
                    autocomplete="off"
                    [formGroup]="editForm" 
                    (submit)="update()">

            <div class="form-group">
                <label for="identificationTypeID">Tipo de identificación</label>
                <select class="form-control"
                        name="identificationTypeID"
                        formControlName="identificationTypeID">
                        <option *ngFor="let item of types"
                        [value]="item.identificationTypeID">{{ item.identificationName }}</option>

                </select>
            </div>

            <div class="form-group">
                <label for="identificationNumber">Número de identificación</label>
                <input type="text" class="form-control"
                  name="identificationNumber"
                  formControlName="identificationNumber"
                />
                <p class="col text-danger" *ngIf="campoNoValido('identificationNumber')" >* El Número de identificación es obligatorio</p>
              </div>
              
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text"class="form-control"
                name="name"
                formControlName="name"
                />
                <p class="col text-danger" *ngIf="campoNoValido('name')" >* El Nombre es obligatorio</p>
            </div>
      
            <div class="form-group">
              <label for="gender">Género</label>
              <select class="form-control"
                        name="gender"
                        formControlName="gender">
                        <option value="0">SELECCIONE</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>

                </select>
            </div>

            <div class="row mt-4">
              <div class="col-md-4 mx-auto">
                <button  class="btn btn-success">Editar cliente</button>
              </div>
            </div>
           
        </form>
    </div>
</div>