<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand" style="padding-left: 10px;">MAESTRO DE CLIENTES</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="customers" class="nav-link">Listar</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link">Crear</a>
        </li>
      </div>
    </nav>
  
    <div class="mx-5 mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>